<template>
  <div class="flex">
    <div class="w-3/4">
        <video src="https://videogeyser.s3.amazonaws.com/basic_jointhecommunity.mp4" id="webinar_stream" class="pr-1" autoplay muted></video>
    </div>
    <div class="w-1/4 h-screen">
        <div class="font-sans antialiased h-screen">
            <!-- Chat content -->
            <div class="flex-1 flex flex-col bg-white overflow-hidden">
                <!-- Top bar -->
                <div class="border-b flex px-6 py-2 items-center flex-none">
                    <div class="flex flex-col">
                        <h3 class="text-grey-darkest mb-1 font-extrabold text-left -ml-4">Chatbox</h3>
                    </div>
                </div>
                <!-- Chat messages -->
                <div class="py-4 flex-1 overflow-y-scroll">
                    <!-- A message -->
                        <div class="flex items-start text-sm pt-2">
                            <div class="flex-1 overflow-hidden pl-2">
                                <div class="float-left">
                                    <span class="font-bold">Adam Wathan</span>
                                    <span class="text-grey text-xs pl-2">12:45</span>
                                </div><br/>
                                <p class="text-black  text-left">
                                    The slack from the other side
                                </p>
                            </div>
                        </div>
                    <!-- message -->
                    <div class="flex items-start pt-4 text-sm pt-2">
                        <div class="flex-1 overflow-hidden pl-2">
                            <div class="float-left">
                                <span class="font-bold">Steve roggers</span>
                                <span class="text-grey text-xs pl-2">11:15</span>
                            </div><br/>
                            <p class="text-black text-left">
                                control the marquee space without an utility for it
                            </p>
                        </div>
                    </div>
                    <!-- A message -->
                    <div class="flex items-start pt-4 text-sm pt-2">
                        <div class="flex-1 overflow-hidden pl-2">
                            <div class="float-left">
                                <span class="font-bold ">Adam Wathan</span>
                                <span class="text-grey text-xs pl-2">12:45</span>
                            </div><br/>
                            <p class="text-black text-left">
                                we supposed to control the marquee space</p>
                        </div>
                    </div>
            <!-- A message -->
            <div class="flex items-start pt-4 text-sm pt-2">
                <div class="flex-1 overflow-hidden pl-2">
                    <div class="float-left ">
                        <span class="font-bold">David Hemphill</span>
                        <span class="text-grey text-xs pl-2">11:45</span>
                    </div><br/>
                    <p class="text-black text-left">
                        we supposed to control the marquee space</p>
                </div>
            </div>
            <!-- message -->
           <div class="flex items-start pt-4 text-sm pt-2">
                <div class="flex-1 overflow-hidden pl-2">
                    <div class="float-left">
                        <span class="font-bold">Steve roggers</span>
                        <span class="text-grey text-xs pl-2">12:15</span>
                    </div><br/>
                    <p class="text-black text-left">
                        generated CSS is creating a singularity in space/time</p>
                </div>
            </div>
            <!-- A message -->
            <div class="flex items-start  pt-4 text-sm pt-2">
                <div class="flex-1 overflow-hidden pl-2">
                    <div class="float-left">
                        <span class="font-bold">David Hemphill</span>
                        <span class="text-grey text-xs pl-2">02:05</span>
                    </div><br/>
                    <p class="text-black text-left">
                        How are we supposed to control the marquee space without an utility for it
                    </p>
                </div>
            </div>
        </div>
        <div class="px-4 flex-nones py-2">
            <div class="flex rounded-lg border-2 border-gray-500 overflow-hidden">
                <span class="text-3xl text-grey border-r-2 border-grey pb-6">
                    <svg class="fill-current h-6 w-6 block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16 10c0 .553-.048 1-.601 1H11v4.399c0 .552-.447.601-1 .601-.553 0-1-.049-1-.601V11H4.601C4.049 11 4 10.553 4 10c0-.553.049-1 .601-1H9V4.601C9 4.048 9.447 4 10 4c.553 0 1 .048 1 .601V9h4.399c.553 0 .601.447.601 1z"/></svg>
                  </span>
                <input type="text" class="w-full px-4" placeholder="Message general" />
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name:'JoinWebinar',
    data(){
        return {

        }
    }
}
</script>
