<template>
	<div>
		<video  src="https://videogeyser.s3.amazonaws.com/basic_jointhecommunity.mp4" id="webinar_stream" class="w-2/3"autoplay muted></video>
	</div>
</template>
<script>
	export default{
		name:'Webinarvideo',
	}
</script>